<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Read Notes</title>
</head>
<body>
  <h2>Read Notes left by others</h2>
  <div class="notes">
    <ul>
      <% notes.forEach((note) => { %>
        <li>
          <%= note %> 
        </li>
      <% }) %> 
    </ul>
  </div>
</body>
</html>